.event {
  border-block-end: 1px solid var(--color-border);
}

.container {
  display: grid;
  align-items: justify;
  grid-template-columns: 60px 1fr auto;
  color: var(--color-text);
  text-decoration: none;
}

.slot,
.content,
.info {
  padding: 4px;
}

.slot {
  flex: 0 0 60px;
  border-inline-end: 1px solid var(--color-border);
}

.start,
.end,
.duration {
  display: block;
  font-size: var(--font-small);
  text-align: center;
}

.start,
.end {
  color: var(--color-secondary);
  font-weight: var(--font-bold);
}

.duration {
  color: var(--color-hint);
}

.title {
  margin: 0;
  padding: 0;
  font-size: var(--font-body);
  font-weight: var(--font-semibold);
}

.description {
  margin: 0;
  font-size: var(--font-small);

  .title + & {
    margin-top: 4px;
  }
}

.info {
  padding-inline-start: 0;
}
